.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
*{
  border: 0px dotted blue;
}
.topline{
  position: fixed;
  top: 5vh;
  left: 5vw;
  background-color: rgba(228,255,201,1);  
  height: 2px;
  width: 90vw;
}
.botline{
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  background-color: rgba(228,255,201,1);  
  height: 2px;
  width: 90vw;
}

.Exit a{
  background-color: black;
}
.Exit{
  padding: 0px;
  margin: 0px;
  opacity: 0.5;
  font-size: calc((5.5vh) + (6.5vw));
  color: rgba(218,255,171,1);
  position: fixed;
  right: 5vw;
  top: 5vh;
  /* border: 1px solid red;  */
}
.Exit:hover{
  color: rgb(172, 29, 185);
}
.Exit p{
  animation: fade-in 2s forwards;
  animation-delay: 0s;
  -webkit-animation: fade-in 2s forwards;
  -webkit-animation-delay: 0s;
  -moz-animation: fade-in 2s forwards;
  -moz-animation-delay: 0s;
  -o-animation: fade-in 2s forwards;
  -o-animationn-delay: 0s;
  -ms-animation: fade-in 2s forwards;
  -ms--animation-delay: 0s;
}

@keyframes fade-in{
  from{opacity: 0;}
  top{opacity: 0.7;}
}


  
@-moz-keyframes start {
  from { transform: perspective(1000px) rotateY(0); }
  to { transform: perspective(1000px) rotateY(90deg); }
}
@-webkit-keyframes start {
  from { transform: perspective(1000px) rotateY(0); }
  to { transform: perspective(1000px) rotateY(90deg); }
}
@-o-keyframes start {
  from { transform: perspective(1000px) rotateY(0); }
  to { transform: perspective(1000px) rotateY(90deg); }
}
@-ms-keyframes start {
  from { transform: perspective(1000px) rotateY(0); }
  to { transform: perspective(1000px) rotateY(90deg);}
}
@keyframes start {
  from { transform: perspective(1000px) rotateY(0); }
  to { transform: perspective(1000px) rotateY(90deg);}
}


@-moz-keyframes end {
  from { transform: perspective(1000px) rotateY(-90deg);  }
  to { transform: perspective(1000px) rotateY(0); }
}
@-webkit-keyframes end {
  from { transform: perspective(1000px) rotateY(-90deg); }
  to { transform: perspective(1000px) rotateY(0);}
}
@-o-keyframes end {
  from { transform: perspective(1000px) rotateY(-90deg); }
  to { transform: perspective(1000px) rotateY(0); }
}
@-ms-keyframes end {
  from { transform: perspective(1000px) rotateY(-90deg); }
  to { transform: perspective(1000px) rotateY(0); }
}
@keyframes end {
  from { transform: perspective(1000px) rotateY(-90deg); }
  to { transform: perspective(1000px) rotateY(0); }
}
