@font-face {
  font-family: 'DrukCondensedSuper';
  src: local('DrukCondensedSuper.woff'), url(fonts/Druk_Collection/Druk_Condensed/DrukCondensedSuper.woff) format('woff');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Ogg-Roman';
  src: local('Ogg-Roman.otf'), url(./fonts/Ogg-Roman.otf) format('opentype');
  font-style: normal;
  font-weight: 100;
}
@font-face{
    font-family: 'SuperLovelyI';
    src: local('SuperLovelyI.eot'), url('./fonts/SuperLovelyI/SuperLovelyI.eot') format('embedded-opentype');
    font-style: normal;
    font-weight: 100;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}