
@font-face {
  font-family: 'Druk Condensed';
  src: url('/fonts/DrukCondensed-Super.woff2') format('woff2'),
      url('/fonts/DrukCondensed-Super.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg-Roman';
  src: url(/fonts/Ogg-Roman.otf) format('opentype');
  font-style: normal;
  font-weight: 100;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}