#SpinnerWrap {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}
#SpinnerInner {
  width: 100vw;
  /* align-self: center; */
  text-align: center;
}
img{
  z-index: -1;
  position: fixed;
  height: 140%;
}
.Page {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.Menu {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.Wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Inner {
  width: 100vw;
  align-self: center;
  padding: 2rem;
}
.Page Span p{
  font: calc((12.5vh) + (15.5vw)) Druk Condensed;
  margin: 0px;
  margin-bottom: -3vh;
}
Span {
  z-index: 3;
  color: rgba(218,255,171,1);
  margin: 0px;
  font: calc((7.5vh) + (5.5vw)) Druk Condensed;
  /*text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;*/
}
.Page Span{
  position: relative;
  text-align: center;
  -webkit-animation:  fade-in-from-bottom 2s forwards;
  -webkit-animation-delay: 0s;
  animation:  fade-in-from-bottom 2s forwards;
  animation-delay: 0s;
}
p{
  margin: 0px;
  padding: 0px;
}
.move{
  -webkit-animation: fade-in-from-bottom 2s forwards;
  -webkit-animation-delay: 0s;
  animation: fade-in-from-bottom 2s forwards;
  animation-delay: 0s;
}
@keyframes fade-in-from-bottom{
    from {top: 100vh; opacity: 0;}
    to {top: 0vh; opacity: 1;}
}

Span p:hover{
  /*background-color: rgba(37, 37, 37, 0.1);*/
  /*
  color: none;
  text-shadow: #000 0px 0px 15px;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: selected 1s forwards;
  -webkit-animation-delay: 1s;
  animation: selected 1s forwards;
  animation-delay: 0s;
  */
}
@keyframes selected {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
    opacity: 0.25;
  }
  100% {
    transform:  scale(1, 1);
    color:white;
    opacity: 0.75;

  }
}

.Menu Span{/*left*/
  left: -11vw;
}
.Menu .Right{
  left: 10vw ;
}

.Footer{
  font-family: Ogg-Roman;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.Footer p{
  display: inline-block;
  font-size: 1.8vh;
  color: rgba(218,255,171,1);
  /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  }

.midline{
  position: fixed;
  bottom: 25vh;
  left: 50vw;
  background-color: rgba(228,255,201,1);  
  height: 2px;
  width: 50vw;
}